<main>
  <%= render "shared/header", title: "Dashboard" %>

  <section>
    <h2>Active Plan</h2>
    <% if @active_plan_enrollment.present? %>
      <article class="bg-card border border-primary/30 p-4 rounded-md">
        <div class="flex flex-col gap-2 border-b border-muted/70 pb-2">
          <h3 class="text-primary"><%= @active_plan_enrollment.plan.name %></h3>
          <p class="text-muted-foreground"><%= @active_plan_enrollment.plan.days %> day workout plan</p>
        </div>
        <div class="mt-2 py-4 ">
          <% if @active_plan_enrollment.started_workout.present? %>
            <p class="text-muted-foreground py-4">Workout started on <%= @active_plan_enrollment.workouts.started.first.created_at.strftime("%B %d, %Y") %></p>
            <%= link_to "Resume Workout", workout_path(@active_plan_enrollment.workouts.started.first), class: "btn-primary" %>
          <% end %>
          <%= link_to "View Active Plan Enrollment", plan_enrollment_path(@active_plan_enrollment), class: "btn-link px-4" %>
        </div>
      </article>
    <% else %>
      <p>No active plan</p>
    <% end %>
  </section>

  <% if @past_plans.any? %>
    <section>
      <h2>Past Plans</h2>
      <% @past_plans.each do |plan| %>
        <article>
          <h3><%= link_to plan.name, plan_path(plan) %></h3>
          <p><%= plan.days %> days</p>
        </article>
      <% end %>
    </section>
  <% end %>
</main>

