<h1>Workout#show</h1>

<section>
  <header>
    <h1>Workout</h1>
  </header>

  <article>
    <h2>Workout Details</h2>
    <%= form_with model: @workout, url: workout_path(@workout), method: :put do |form| %>
    <ul>
      <% @entries.each_with_index do |entry, index| %>
        <% set_number = 1 %>                  
        <li><%= entry.exercise.name %> <%= entry.humanized_sets_and_reps %></li>
        <%= form.fields_for :completed_sets, @completed_sets_by_entry[entry.id] do |completed_set_form| %>
          <%= render 'completed_sets/form', form: completed_set_form, entry: entry, set_number: set_number %>
          <% set_number += 1 %>
        <% end %>
      <% end %>
    </ul>
    <%= form.submit "Complete Workout" %>
    <% end %>
  </article>
</section>