<h1>Workout#show</h1>

<section>
  <header>
    <h1>Workout</h1>
  </header>

  <article>
    <h2>Workout Details</h2>
    # display all entries for the workout from plan via day
    <% entries = @workout.plan_enrollment.plan.entries.where(day: @workout.day) %>
    <ul>
      <% entries.each do |entry| %>
        <li><%= entry.exercise.name %> <%= entry.humanized_sets_and_reps %></li>
        <% entry.sets.times do |index| %>
          <%= "Set #{index + 1}" %>
          <%= form_with model: CompletedSet.new, url: completed_sets_path, method: :post do |form| %>
            <%= form.hidden_field :workout_id, value: @workout.id %>
            <%= form.hidden_field :entry_id, value: entry.id %>
              <%= form.label :reps, "Reps" %>
              <%= form.number_field :reps, min: 1 %>
              <%= form.label :weight, "Weight" %>
              <%= form.number_field :weight, min: 1 %>
            <%= form.submit "Complete Set" %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </article>
</section>