<%= form_with(model: plan) do |form| %>
  <%= render "shared/errors", object: plan %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <fieldset>
    <legend>Entries</legend>
    <%= form.fields_for :entries do |entry_form| %>
      <%= render "entries/form_fields", form: entry_form, exercises: exercises %>
    <% end %>
  </fieldset>

  <div>
    <%= form.submit %>
  </div>
<% end %>

