<%= form_with(model: exercise) do |form| %>
  <%= render "shared/errors", object: exercise %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit exercise.new_record? ? "Create Exercise" : "Update Exercise" %>
  </div>
<% end %>


